--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0+cpu
numpy==1.26.4
streamlit==1.42.0
openai==1.61.1
googletrans==4.0.2
python-dotenv==1.0.1
nltk==3.9.1
ffmpeg-python
openai-whisper==20240930
python-dotenv==1.0.1